# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\Work\Framework\Vertis.Commerce\81.WebManager.SPA codebase based on best match to current usage at 11/11/2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
root = true
# All files
[*]
charset = utf-8
indent_style = tab
indent_size = 4
#CS Files
#[*.cs]

