@import "tailwindcss";

@custom-variant aria-current (&[aria-current="page"]);

@theme {
	

	--font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	--color-primary: #347fc4;
	--color-primary-50: #f3f6fc;
	--color-primary-100: #e5eef9;
	--color-primary-200: #c6dbf1;
	--color-primary-300: #93bde6;
	--color-primary-400: #599bd7;
	--color-primary-500: #347fc4;
	--color-primary-600: #2463a5;
	--color-primary-700: #1e4f86;
	--color-primary-800: #1d446f;
	--color-primary-900: #1d3b5d;
	--color-primary-950: #13263e;

	--animate-wiggle: wiggle 1s ease-in-out infinite;
	@keyframes wiggle {
		0%,
		100% {
			transform: rotate(-25deg);
		}
		50% {
			transform: rotate(25deg);
		}
	}

	--animate-leftright: leftright 1s ease-in-out infinite;
	@keyframes leftright {
		0%,
		100% {
			transform: translate(-3px, 0);
		}
		50% {
			transform: translate(3px, 0);
		}
	}

	--animate-rotate: rotate 1s ease-in-out infinite;
	@keyframes rotate {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	--animate-backInDown: backInDown 0.5s ease-in-out;
	@keyframes backInDown {
		0% {
			transform: translateY(-20px) scale(0.7);
			opacity: 0;
		}

		80% {
			transform: translateY(0px) scale(0.7);
			opacity: 0.7;
		}

		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
}

@layer components {
	.bg-card {
		background-image: linear-gradient(
				310deg,
				rgba(131, 131, 131, 0.02) 0%,
				rgba(131, 131, 131, 0.02) 13%,
				transparent 13%,
				transparent 46%,
				rgba(112, 112, 112, 0.02) 46%,
				rgba(112, 112, 112, 0.02) 100%
			),
			linear-gradient(
				21deg,
				rgba(18, 18, 18, 0.02) 0%,
				rgba(18, 18, 18, 0.02) 47%,
				transparent 47%,
				transparent 82%,
				rgba(178, 178, 178, 0.02) 82%,
				rgba(178, 178, 178, 0.02) 100%
			),
			linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
	}
	.title {
		@apply pb-5 z-20 text-xl font-semibold relative
			before:absolute before:z-10 before:w-6 before:h-6 before:-left-3 before:top-1.5 before:rounded-full before:bg-radial-[at_5%_75%] before:from-primary-100 before:to-70% before:to-gray-50
			after:absolute after:-left-3 lg:after:-left-10 after:bottom-0 after:h-px after:w-full after:bg-linear-to-r after:from-80% after:from-gray-300 after:to-transparent after:z-10;
	}
	.title span {
		@apply text-primary relative z-10;
	}
	.divider-x {
		@apply flex my-2 h-px w-full bg-radial from-gray-300 to-70% to-transparent;
	}
	.divider-y {
		@apply block mx-2 h-full w-px bg-radial from-gray-300 to-70% to-transparent;
	}

	.divider-menu {
		@apply flex mx-2 w-px h-full min-w-px max-w-px  bg-radial from-gray-300 to-70% to-transparent
			lg:h-px lg:w-full lg:my-2 lg:min-h-px lg:max-h-px lg:min-w-full lg:max-w-full lg:mx-0
		;
	}

	.menu-item {
		@apply transition duration-300
		bg-white w-full rounded text-xs flex flex-col justify-center items-center  h-[60px]
		hover:text-primary hover:fill-primary hover:bg-gray-50
		aria-current:text-primary aria-current:fill-primary aria-current:bg-primary-50 aria-current:font-semibold
		min-[702px]:w-[60px]
		;
	}

	.after-divider-radial-x {
		@apply after:absolute after:h-px after:w-full after:bottom-0 odd:after:-ml-5  after:bg-radial after:from-gray-300 after:to-70% after:to-transparent;
	}
	.before-divider-solid-y {
		@apply before:absolute before:h-full before:w-px before:right-0 before:top-0 before:bg-gray-300;
	}

	.before-divider-solid-y-sm {
		@apply sm:before:absolute sm:before:h-full sm:before:w-px sm:before:right-0 sm:before:top-0 sm:before:bg-gray-300;
	}
	.before-divider-gradient-y {
		@apply relative before:absolute before:h-full before:w-px before:right-0 before:top-0 before:bg-linear-to-t before:from-transparent before:to-70% before:to-gray-300;
	}
	.before-divider-gradient-y-sm {
		@apply sm:relative sm:before:absolute sm:before:h-full sm:before:w-px sm:before:right-0 sm:before:top-0 sm:before:bg-linear-to-t sm:before:from-transparent sm:before:to-70% sm:before:to-gray-300;
	}
	.before-divider-radial-y {
		@apply relative before:absolute before:h-full before:w-px before:right-0 before:top-0 before:bg-radial before:from-gray-300 before:to-70% before:to-transparent;
	}

	.before-divider-radial-y-sm {
		@apply sm:relative sm:before:absolute sm:before:h-full sm:before:w-px sm:before:right-0 sm:before:top-0 sm:before:bg-radial sm:before:from-gray-300 sm:before:to-70% sm:before:to-transparent;
	}

	.skill-icon {
		@apply h-10 w-10 cursor-pointer grayscale 
		hover:grayscale-0 hover:scale-110 hover:rotate-5
		aria-selected:grayscale-0 aria-selected:scale-110 aria-selected:rotate-5
		transition duration-300;
	}
	.main-content{
		@apply  bg-white rounded shadow-lg mx-2 mb-2 w-auto h-auto	mt-[138px]
		min-[702px]:mt-[76px] lg:mt-0
		lg:w-[700px] lg:h-[620px] lg:z-10 lg:-left-1 lg:py-2 lg:mx-0 lg:rounded-r-lg lg:rounded-l-none lg:mb-0;
	}
	.main-content>div{
		@apply 
			w-full h-full pr-3 py-5 relative pl-3
			lg:overflow-auto lg:pl-7 lg:pr-5   ;
	}

	.fadeinleft-enter-active, .fadeinleft-leave-active{
		@apply transition duration-500 ease-in;
	}

	.fadeinleft-enter-from, .fadeinleft-leave-to{
		@apply opacity-0 lg:-translate-x-120;
	}
	

}

body {
	@apply h-screen w-screen flex flex-col  relative
		lg:flex-row lg:items-center lg:justify-center;

	background-image: radial-gradient(
			circle at 67% 83%,
			hsla(317, 0%, 96%, 0.05) 0%,
			hsla(317, 0%, 96%, 0.05) 1%,
			transparent 1%,
			transparent 5%,
			transparent 5%,
			transparent 100%
		),
		radial-gradient(
			circle at 24% 80%,
			hsla(317, 0%, 96%, 0.05) 0%,
			hsla(317, 0%, 96%, 0.05) 27%,
			transparent 27%,
			transparent 63%,
			transparent 63%,
			transparent 100%
		),
		radial-gradient(
			circle at 23% 5%,
			hsla(317, 0%, 96%, 0.05) 0%,
			hsla(317, 0%, 96%, 0.05) 26%,
			transparent 26%,
			transparent 82%,
			transparent 82%,
			transparent 100%
		),
		radial-gradient(
			circle at 21% 11%,
			hsla(317, 0%, 96%, 0.05) 0%,
			hsla(317, 0%, 96%, 0.05) 35%,
			transparent 35%,
			transparent 45%,
			transparent 45%,
			transparent 100%
		),
		radial-gradient(
			circle at 10% 11%,
			hsla(317, 0%, 96%, 0.05) 0%,
			hsla(317, 0%, 96%, 0.05) 21%,
			transparent 21%,
			transparent 81%,
			transparent 81%,
			transparent 100%
		),
		radial-gradient(
			circle at 19% 61%,
			hsla(317, 0%, 96%, 0.05) 0%,
			hsla(317, 0%, 96%, 0.05) 20%,
			transparent 20%,
			transparent 61%,
			transparent 61%,
			transparent 100%
		),
		radial-gradient(
			circle at 13% 77%,
			hsla(317, 0%, 96%, 0.05) 0%,
			hsla(317, 0%, 96%, 0.05) 63%,
			transparent 63%,
			transparent 72%,
			transparent 72%,
			transparent 100%
		),
		radial-gradient(
			circle at 30% 93%,
			hsla(317, 0%, 96%, 0.05) 0%,
			hsla(317, 0%, 96%, 0.05) 33%,
			transparent 33%,
			transparent 82%,
			transparent 82%,
			transparent 100%
		),
		linear-gradient(90deg, rgb(0, 53, 102), rgb(0, 29, 61));
}

button {
	@apply cursor-pointer;
}


.text_1 {
	animation: text1;
}

.text_2 {
	animation: text2;
}

.text_1,
.text_2 {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	animation-duration: 15s;
	animation-timing-function: steps(30, end);
	animation-iteration-count: infinite;
}

.text_1::after,
.text_2::after {
	content: "|";
	position: absolute;
	right: 0;
	animation: caret infinite;
	animation-duration: 1s;
	animation-timing-function: steps(1, end);
	color: var(--color-gray-800);
}



@keyframes text2 {

	0%,
	50%,
	100% {
		width: 0;
	}

	60%,
	90% {
		width: 160px;
	}
}

@keyframes text1 {
	0%,
	50%,
	100% {
		width: 0;
	}

	10%,
	40% {
		width: 160px;
	}
}

@variant lg {
	@keyframes text2 {

	0%,
	50%,
	100% {
		width: 0;
	}

	60%,
	90% {
		width: 190px;
	}
}

@keyframes text1 {
	0%,
	50%,
	100% {
		width: 0;
	}

	10%,
	40% {
		width: 190px;
	}
}
			
}	


@keyframes caret {

	0%,
	100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}